.aliados-big {
  color: #c7d68424;
  font-size: 120px;
  letter-spacing: 6px;
}
.aliados-small{
    letter-spacing: 1px;
}
.tena {
  width: 140px;
}

.aliados-separador{
    height: 90px;
    width: 2px;
    background: #d8d7d7

}

.filial{
    height: 146px;
}